@font-face {
    font-family: "CircularSpotifyTxT";
    src: url("../fonts/CircularSpotifyTxT-Black.eot");
    src: url("../fonts/CircularSpotifyTxT-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CircularSpotifyTxT-Black.woff2") format("woff2"),
        url("../fonts/CircularSpotifyTxT-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "CircularSpotifyTxT";
    src: url("../fonts/CircularSpotifyTxT-Bold.eot");
    src: url("../fonts/CircularSpotifyTxT-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CircularSpotifyTxT-Bold.woff2") format("woff2"),
        url("../fonts/CircularSpotifyTxT-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "CircularSpotifyTxT";
    src: url("../fonts/CircularSpotifyTxT-Book.eot");
    src: url("../fonts/CircularSpotifyTxT-Book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CircularSpotifyTxT-Book.woff2") format("woff2"),
        url("../fonts/CircularSpotifyTxT-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "CircularSpotifyTxT";
    src: url("../fonts/CircularSpotifyTxT-Light.eot");
    src: url("../fonts/CircularSpotifyTxT-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CircularSpotifyTxT-Light.woff2") format("woff2"),
        url("../fonts/CircularSpotifyTxT-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "CircularSpotifyTxT";
    src: url("../fonts/CircularSpotifyTxT-Med.eot");
    src: url("../fonts/CircularSpotifyTxT-Med.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CircularSpotifyTxT-Med.woff2") format("woff2"),
        url("../fonts/CircularSpotifyTxT-Med.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

/*ICONE FONTE GERADA*/
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?w0tom5');
    src: url('../fonts/icomoon.eot?w0tom5#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?w0tom5') format('truetype'),
        url('../fonts/icomoon.woff?w0tom5') format('woff'),
        url('../fonts/icomoon.svg?w0tom5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}