html {
    background-color: #000000;
    font-size: 16px;

    body {
        background-color: #000000 !important;
        margin: 0;

        header {
            position: sticky;
            top: 0;
            z-index: 9999;
            background: #000000E6;


            .logo {
                @media screen and (max-width: 767px) {
                    margin: auto;
                }

                img {
                    max-width: 104px;
                    height: auto;

                    @media screen and (max-width: 767px) {
                        max-width: 94.92px;
                    }
                }
            }


            ul.menu {
                list-style: none;
                z-index: 99;

                @media screen and (max-width: 767px) {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: #000000E6;
                    padding: 1rem 0;

                }

                li {
                    a {
                        font-size: 1rem;
                        color: white;
                        text-decoration: none;
                        transition: all .4s;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 0.5rem;

                        &:hover,
                        &.active {
                            color: #FF0000;
                        }

                        @media screen and (max-width: 767px) {
                            font-size: 0.7524rem;
                        }

                        span {
                            font-size: 1.3376rem;
                            display: none;

                            @media screen and (max-width: 767px) {
                                display: inline;
                            }

                            &[class^="icon-"],
                            &[class*=" icon-"] {
                                font-family: 'icomoon' !important;
                                font-style: normal;
                                font-weight: normal;
                                font-variant: normal;
                                text-transform: none;
                                line-height: 1;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                            }

                            &.icon-ico-filmes:before {
                                content: "\e900";
                            }

                            &.icon-ico-documentarios:before {
                                content: "\e901";
                            }

                            &.icon-ico-series:before {
                                content: "\e902";
                            }
                        }

                    }
                }
            }
        }

        /*CONTAINER RIGHT e LEFT*/
        .container-right,
        .container-left {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            /* width: 100%; */
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            margin-right: auto;
            margin-left: auto;
            display: flex;
            flex-wrap: inherit;
            align-items: center;
            justify-content: space-between;
        }

        @media screen and (min-width: 1400px) {
            .container-right {
                max-width: calc((100vw/2 - 1320px/2) + 1320px) !important;
                margin-right: 0;
                margin-left: calc(100vw/2 - 1320px/2) !important;
            }

            .container-left {
                max-width: calc((100vw/2 - 1320px/2) + 1320px) !important;
                margin-left: 0;
                margin-right: calc(100vw/2 - 1320px/2) !important;
            }
        }

        @media screen and (min-width: 1200px) and (max-width:1399px) {
            .container-right {
                max-width: calc((100vw/2 - 1140px/2) + 1320px) !important;
                margin-right: 0;
                margin-left: calc(100vw/2 - 1140px/2) !important;
            }

            .container-left {
                max-width: calc((100vw/2 - 1140px/2) + 1320px) !important;
                margin-left: 0;
                margin-right: calc(100vw/2 - 1140px/2) !important;
            }
        }

        @media screen and (min-width: 992px) and (max-width:1199px) {
            .container-right {
                max-width: calc((100vw/2 - 960px/2) + 1320px) !important;
                margin-right: 0;
                margin-left: calc(100vw/2 - 960px/2) !important;
            }

            .container-left {
                max-width: calc((100vw/2 - 960px/2) + 1320px) !important;
                margin-left: 0;
                margin-right: calc(100vw/2 - 960px/2) !important;
            }
        }

        @media screen and (min-width: 768px) and (max-width:991px) {
            .container-right {
                max-width: calc((100vw/2 - 720px/2) + 1320px) !important;
                margin-right: 0;
                margin-left: calc(100vw/2 - 720px/2) !important;
            }

            .container-left {
                max-width: calc((100vw/2 - 720px/2) + 1320px) !important;
                margin-left: 0;
                margin-right: calc(100vw/2 - 720px/2) !important;
            }
        }

        @media screen and (min-width: 576px) and (max-width:767px) {
            .container-right {
                max-width: calc((100vw/2 - 540px/2) + 1320px) !important;
                margin-right: 0;
                margin-left: calc(100vw/2 - 540px/2) !important;
            }


            .container-left {
                max-width: calc((100vw/2 - 540px/2) + 1320px) !important;
                margin-left: 0;
                margin-right: calc(100vw/2 - 540px/2) !important;
            }

        }

        .categoria,
        .duracao {
            font-size: 1.125rem;
            border: white 1px solid;
            min-width: 128px;
            max-width: 40vw;
            border-radius: 3px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2rem;
            padding: 1rem 1rem 0.7rem 1rem;

            @media screen and (max-width: 767px) {
                font-size: 0.75rem;
            }

            p {
                margin-bottom: 0;
            }
        }

        .categoria {
            background-color: white;
            color: #5A5A5A;
        }

        .duracao {
            background-color: transparent;
            color: white;
        }

        h2 {
            font-size: 2.5rem;
            color: #FF0000;
            font-weight: 900;
            letter-spacing: -1px;
            margin-bottom: 1.4rem;

            @media screen and (max-width: 767px) {
                font-size: 1.438rem;
            }

        }

        footer {
            background: #121212;
            height: 375px;
            display: flex;
            align-items: center;
            margin-top: 5rem;

            @media screen and (max-width: 767px) {
                height: 301px;
            }

            .logo {
                @media screen and (max-width: 767px) {
                    margin: auto;
                }

                img {
                    max-width: 104px;
                    height: auto;
                    margin-bottom: 2rem;

                    @media screen and (max-width: 767px) {
                        max-width: 94.92px;
                    }
                }
            }

            p {
                font-size: 1.125rem;
                color: white;

                @media screen and (max-width: 767px) {
                    font-size: 0.75rem;
                    text-align: center;
                }

            }

        }
    }

}

#splide {
    width: 100%;

    p.not-found {
        font-size: 1.4rem;
        color: white !important;
        visibility: visible;
    }

    .splide__slide {
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        width: calc(100% / 7) !important;
        color: white;



        a {
            color: white;
            text-decoration: none;

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }

            .img-box-video {
                width: 100%;
                height: 387px;
                max-height: 40vh;
                // padding: .3rem;
                border-radius: 3px;
                overflow: hidden;

                @media screen and (max-width: 767px) {
                    max-height: 35vh;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-position: center;
                    object-fit: cover;
                    transition: all .4s;
                }
            }

            .duracao {
                margin-top: 2rem;
            }

            h3 {
                font-size: 1.775rem;
                font-weight: 900;
                letter-spacing: -0.3px;
                transition: all .4s;

                @media screen and (max-width: 767px) {
                    font-size: 1.25rem;
                }

            }

            &:hover {
                h3 {
                    color: #FF0000;
                }
            }
        }

        @media screen and (max-width: 1024px) {
            width: calc(100% / 5) !important;
        }

        @media screen and (max-width: 991px) {
            width: calc(100% / 3.8) !important;
        }

        @media screen and (max-width: 767px) {
            width: calc(100% / 3) !important;
        }

        @media screen and (max-width: 640px) {
            width: calc(100% / 2.23) !important;
        }

        &.is-visible {
            // background: red !important;
            // border: 1px solid blue;
        }
    }
}

* {
    &:not(i) {
        font-family: "CircularSpotifyTxT";
    }
}