#banner {
    background: #000000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 83vh;
    height: 1000px;
    position: relative;
    display: flex;
    align-items: center;

    * {
        z-index: 2;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background-color: #000000;
        opacity: .5;
        z-index: 1;
    }

    h1 {
        font-size: 6rem;
        letter-spacing: -4px;
        color: #FFFFFF;
        line-height: 100%;
        font-weight: 900;

        @media screen and (max-width: 767px) {
            font-size: 2.5rem;
            line-height: -1.6px;
        }

    }

    .btn {
        border-radius: 3px;
        background: #FF0000;
        box-shadow: none;
        color: white;
        font-size: 1.125rem;
        max-width: 60vw;
        font-weight: 500;
        padding: .8rem 2rem;
        width: 310px;
        border: 2px solid #FF0000;
        transition: all .4s;

        @media screen and (max-width: 767px) {
            font-size: 0.75rem;
        }

        &:after {
            content: 'Mais informações';

            @media screen and (max-width: 767px) {
                content: 'Assistir';
            }
        }
        &:hover{
            background: transparent;
            border: 2px solid #ffffff;
        }
    }


}

.posts-term{
    .space-top{
        padding-top: 5rem;
    }
}